---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 1.6;
  margin-bottom: 1.25rem;
}
